@page "/"

<PageTitle>Home</PageTitle>

<h3>Velkommen til forsiden!</h3>
<p>Her er en hentet en instans af Razor komponenten "Counter". Denne vil altid multiplicere antallet af cookies med 5. </p>
<br />

<Counter Multiplier="5" ShowInput="false" />
